<div class="container">
<div class="row mt-5">
    <div class="col-md-7">
        <h2>User Information table</h2>
    </div>
    <div class="col-md-5 text-end"> 
        <button type="button" class="btn btn-outline-primary">Add</button>
    </div>
</div>
   <div class="w-75 mx-auto mt-5">
    <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col" class="w-25">id</th>
            <th scope="col" class="w-25">Name</th>
            <th scope="col" class="w-25" >Role</th>
            <th class="w-0"></th>
            
          </tr>
        </thead>
        <tbody>
          @for (item of showData; track $index) {
          <tr>
            <!-- <th scope="row">{{item.id}}</th> -->
            <td>{{item.name}}</td>
            <td>{{item.role}}</td>
            <td class="text-end"><button type="button" class="btn btn-outline-primary me-3">Edit</button> 
              <button type="button" class="btn btn-outline-danger">delete</button></td>
          </tr>
      }
        </tbody>
      </table>
   </div>
</div>
