<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <p class="h1 text-lg-start">
                {{UserInfo.id}}
            </p>
        </div>
        <div class="col-md-8">
            <h3>{{UserInfo.name}}</h3>
            <p>{{UserInfo.role}}</p>
            <button
                type="button"
                class="btn btn-outline-primary"
                routerLink="../../user"
            >
                Show All Data
            </button>
            
        </div>

    </div>

</div>